/* Presentation  */ 
/*My Awesome Styling*/
// added sass 
h1 {
  color: white;
  
/*  Progressive enhancement & Graceful degridation  */

} 

#video {
  position: relative;
  background: transparent;
}


body {
    background: gray;
    opacity: 75%;
}

$bg : red;



